In [1]:
import pandas as pd
m_data=pd.read_csv('C:\\Users\\JOY STARK\\Desktop\\Datasets\\tmdb-movie-metadata\\datas.csv',index_col='original_title')
m_data.head(5)

,budget,genres,homepage,id,keywords,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
original_title,,,,,,,,,,,,,,,,,,,
Avatar,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
Pirates of the Caribbean: At World's End,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
Spectre,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
The Dark Knight Rises,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
John Carter,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [2]:
m_data.iloc[[0,1,2,3,4,5],[0]]

                                             budget
original_title
Avatar                                    237000000
Pirates of the Caribbean: At World's End  300000000
Spectre                                   245000000
The Dark Knight Rises                     250000000
John Carter                               260000000
Spider-Man 3                              258000000

In [3]:
m_data.loc[['Avatar','Spectre'],['budget','original_language']]

                   budget original_language
original_title
Avatar          237000000                en
Spectre         245000000                en

In [4]:
h_data=pd.read_csv('C:\\Users\\JOY STARK\\Desktop\\Datasets\\world-happiness\\2019.csv')
print('top five happiest countries: ')
h_data.head(5)

top five happiest countries:

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [5]:
print('top five less happy countries:')
h_data.tail(5)

top five less happy countries:

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [6]:
h_data.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [7]:
h_data.iloc[5:11,1]

5     Switzerland
6          Sweden
7     New Zealand
8          Canada
9         Austria
10      Australia
Name: Country or region, dtype: object

In [8]:
h_data.loc[5:11,'Country or region']

5     Switzerland
6          Sweden
7     New Zealand
8          Canada
9         Austria
10      Australia
11     Costa Rica
Name: Country or region, dtype: object

In [9]:
h_data=pd.read_csv(r'C:\Users\JOY STARK\Desktop\Datasets\world-happiness\2019.csv',index_col='Country or region')
h_data.loc['Bangladesh','Overall rank']

125

In [10]:
h_data.loc['Japan','Overall rank']

58

In [11]:
h_data.loc['India','Overall rank']

140

In [12]:
h_data.loc['Pakistan','Overall rank']

67

In [13]:
h_data.iloc[0:5,0:1]

                   Overall rank
Country or region
Finland                       1
Denmark                       2
Norway                        3
Iceland                       4
Netherlands                   5

In [14]:
h_data=pd.read_csv(r'C:\Users\JOY STARK\Desktop\Datasets\world-happiness\2019.csv')
ser=h_data['GDP per capita']
ser[0]

1.34

In [15]:
ser.max()

1.6840000000000002

In [16]:
ser.unique()

array([1.34 , 1.383, 1.488, 1.38 , 1.396, 1.452, 1.387, 1.303, 1.365,
       1.376, 1.372, 1.034, 1.276, 1.609, 1.333, 1.499, 1.373, 1.356,
       1.433, 1.269, 1.503, 1.3  , 1.07 , 1.324, 1.368, 1.159, 0.8  ,
       1.403, 1.684, 1.286, 1.149, 1.004, 1.124, 1.572, 0.794, 1.294,
       1.362, 1.246, 1.231, 1.206, 0.745, 1.238, 0.985, 1.258, 0.694,
       0.882, 1.092, 1.162, 1.263, 0.912, 1.5  , 1.05 , 1.187, 1.301,
       1.237, 0.831, 1.12 , 1.327, 0.642, 1.173, 0.776, 1.201, 0.855,
       0.96 , 1.221, 0.677, 1.183, 0.807, 0.685, 1.044, 1.051, 0.493,
       1.155, 1.438, 1.015, 0.945, 1.067, 1.181, 0.948, 0.983, 0.696,
       0.551, 1.052, 1.002, 0.801, 1.043, 0.987, 0.931, 1.029, 0.741,
       0.813, 0.549, 0.611, 0.569, 0.446, 0.837, 0.393, 0.673, 1.057,
       0.764, 0.947, 0.574, 0.657, 0.45 , 0.   , 0.879, 0.138, 0.331,
       0.85 , 1.1  , 0.38 , 0.886, 0.308, 0.512, 0.57 , 0.204, 0.921,
       0.562, 0.094, 0.385, 0.268, 0.949, 0.71 , 0.35 , 0.82 , 0.336,
       0.811, 0.332, 0.913, 0.578, 0.275, 0.755, 0.073, 0.274, 0.489,
       0.046, 0.366, 0.323, 1.041, 0.619, 0.191, 0.287, 0.359, 0.476,
       0.026, 0.306])

In [17]:
ser.nunique((dropna=False))

SyntaxError: invalid syntax (<ipython-input-17-0b9a69d58a09>, line 1)

In [ ]:
import pandas as pd
anime=['Dragon Ball Z','Inazuma 11','Babelade','Digimon','Tom and Jerry','Justice League','Pokemon','Ninja Haturi','Perman','Spongebob']
genre=['cartoon','cartoon','cartoon','cartoon','cartoon','cartoon','cartoon','cartoon','cartoon','cartoon']
anime_series=pd.Series(anime,name='anime genre')
anime_series.size

In [ ]:
genre=['cartoon','cartoon','cartoon','cartoon','cartoon','cartoon','cartoon','cartoon','cartoon','cartoon']
anime=['Dragon Ball Z','Inazuma 11','Babelade','Digimon','Tom and Jerry','Justice League','Pokemon','Ninja Haturi','Perman','Spongebob']
anime_genre=pd.Series(genre,name='animation genre',index=anime)
anime_genre

In [ ]:
h_data=pd.read_csv('C:\\Users\\JOY STARK\\Desktop\\Datasets\\world-happiness\\2019.csv',usecols=['Country or region','GDP per capita'],squeeze=True,index_col='Country or region')
h_data.head()

In [ ]:
h_data

In [ ]:
h_data['Country or region'][h_data['GDP per capita']<1]

In [ ]:
import pandas as pd
weather={
    'Date':['1/1/2017','2/1/2017','3/1/2017','4/1/2017','5/1/2017','6/1/2017','7/1/2017','8/1/2017','9/1/2017','10/1/2017'],
    'Event':['Rainy','Sunny','Sunny','Cloudy','Rainy','Cloudy','Sunny','Rainy','Clear','Clear'],
    'Temperature':[23,22,25,26,24,23,25,24,25,25],
    'Windspeed':[6,5,4,7,7,6,5,4,5,6]
}
df=pd.DataFrame(weather)
df

In [ ]:
df[['Date','Windspeed']][df['Event']=='Rainy']

In [ ]:
df.shape

In [ ]:
df.head(2)

In [ ]:
row,column=df.shape
df[df.Temperature==df.Temperature.max()]

In [ ]:
import pandas as pd
df['Date']=pd.to_datetime(df.Date)
df=df.sort_values(by='Temperature')
df_sortedbydate=df.sort_values(by='Date')
series=df['Temperature']
series=series.sort_values()
df.set_index('Event')
df

In [ ]:
df['Event'].size-df['Event'].nunique()

In [ ]:
df.to_csv('')

In [ ]:
df.to_csv(r'C:\\Users\\JOY STARK\\Desktop\\Datasets\\weather/weathers.csv')

In [ ]:
df.isnull().sum()

In [ ]:
df

In [ ]:
h_data

In [ ]:
import pandas as pd
weather={
    'Date':['1/1/2017','2/1/2017','3/1/2017','4/1/2017','5/1/2017','6/1/2017','7/1/2017','8/1/2017','9/1/2017','10/1/2017'],
    'Event':['Rainy','Sunny','Sunny','Cloudy','Rainy','Cloudy','Sunny','Rainy','Clear','Clear'],
    'Temperature':[23,22,25,26,24,23,25,24,25,25],
    'Windspeed':[6,5,4,7,7,6,5,4,5,6]
}
df=pd.DataFrame(weather)
df.to_csv(r'C:\Users\JOY STARK\Desktop\Datasets\weather\weathers.csv',index=False)

In [ ]:
kf=pd.read_csv(r'C:\Users\JOY STARK\Desktop\Datasets\weather\weathers.csv',header=1,names=['date','event','temperature','windspeed'],nrows=3,na_values={
    'date':['not available','missing','n.a.'],
    'event':['nothing','missing',-1],
    'temperature':['nothing','n.a.'],
    'windspeed':['missing','n.a.']
})#(skiprows=1)(header=1)
#df=df.sort_values(by=['Date'])
kf.to_csv(r'C:\Users\JOY STARK\Desktop\Datasets\weather\weathers.csv',index=False)
kf.to_csv(r'C:\Users\JOY STARK\Desktop\Datasets\weather\temperature.csv',index=False,columns=['date','temperature'],header=True)
kf=pd.read_csv(r'C:\Users\JOY STARK\Desktop\Datasets\weather\temperature.csv')
kf

In [ ]:
m_data.loc[['Avatar','Spectre'],['budget','homepage']]