In [1]:
import pandas as pd
import numpy as np
weather={
    'Date':['1/1/2017','2/1/2017','3/1/2017','4/1/2017','5/1/2017','6/1/2017','7/1/2017','8/1/2017','9/1/2017','10/1/2017'],
    'Event':['Rainy','Sunny','Sunny','Cloudy','','','Sunny','Rainy','','Clear'],
    'Temperature':[23,22,'',26,24,23,'',24,25,25],
    'Windspeed':[6,'',4,7,7,6,'','',5,6]
}
df=pd.DataFrame(weather)
df.to_csv(r'C:\Users\JOY STARK\Desktop\Datasets\weather\missing_value.csv',index=False,columns=['Date','Event','Temperature','Windspeed'])
df=pd.read_csv(r'C:\Users\JOY STARK\Desktop\Datasets\weather\missing_value.csv',na_values=[''],parse_dates=['Date'])
df.set_index('Date',inplace=True)
#df=df.fillna(0)
#df=df.fillna({
#    'Event':'no event',
#    'Temperature':0,
#    'Windspeed':0
#})
#df=df.fillna(method='ffill')
#df=df.fillna(method='bfill',axis='rows',limit=2)#we can use limit option to choose how many times we want to copy the data
df=df.interpolate(method='quadratic')#uses interpolation method to guess the values
df_droppedna=df.dropna() #we can use method='all' or thresh=1/others to consider one or more null values
#dt=pd.date_range('2017-01-01','2017-01-15')
#idx=pd.DatetimeIndex(dt)
#df=df.reindex(idx)
df.fillna(0,inplace=True)
df[:][df['Event']==0]=0
df['Windspeed'][df['Event']=='Cloudy']=0
r,c=df.shape
l=list()
count=0

for i in range(r):
     count=0
     for j in range(c):
            if df.iloc[i][j]==0:
                count+=1
     if(count>0):
        if ((count/j)*100)>50:
            l.append(i)


            
#df.drop([4,5,8],axis=1)
df=df.replace({
    'Event':0,
    'Temperature':0,
    'Windspeed':0
},np.NaN)
print('DF')
print(df)

print('DF')
print(df.dropna(thresh=2))
df

DF
             Event  Temperature  Windspeed
Date
2017-01-01   Rainy    23.000000   6.000000
2017-02-01   Sunny    22.000000   3.376652
2017-03-01   Sunny    24.115532   4.000000
2017-04-01  Cloudy    26.000000        NaN
2017-05-01     NaN          NaN        NaN
2017-06-01     NaN          NaN        NaN
2017-07-01   Sunny    23.151988   5.205661
2017-08-01   Rainy    24.000000   4.741296
2017-09-01     NaN          NaN        NaN
2017-10-01   Clear    25.000000   6.000000
DF
             Event  Temperature  Windspeed
Date
2017-01-01   Rainy    23.000000   6.000000
2017-02-01   Sunny    22.000000   3.376652
2017-03-01   Sunny    24.115532   4.000000
2017-04-01  Cloudy    26.000000        NaN
2017-07-01   Sunny    23.151988   5.205661
2017-08-01   Rainy    24.000000   4.741296
2017-10-01   Clear    25.000000   6.000000

C:\Users\JOY STARK\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             Event  Temperature  Windspeed
Date
2017-01-01   Rainy    23.000000   6.000000
2017-02-01   Sunny    22.000000   3.376652
2017-03-01   Sunny    24.115532   4.000000
2017-04-01  Cloudy    26.000000        NaN
2017-05-01     NaN          NaN        NaN
2017-06-01     NaN          NaN        NaN
2017-07-01   Sunny    23.151988   5.205661
2017-08-01   Rainy    24.000000   4.741296
2017-09-01     NaN          NaN        NaN
2017-10-01   Clear    25.000000   6.000000

In [24]:
type(df['Event'][df['Temperature']>23])

pandas.core.series.Series

In [ ]:
g=df.groupby('Event')
g.get_group('Sunny')[['Temperature','Windspeed']].max()
g['Temperature'].max()
g.describe()
%matplotlib inline
g.plot()

In [ ]:
for event,event_df in g:
    print(event)
    print(event_df)

In [ ]:
g.get_group('Sunny').replace({
    'Temperature':'[A-Za-z]',
    'Windspeed':['A-Za-z']
},'',regex=True)['Temperature'].max()

In [ ]:
import pandas as pd
a=pd.DataFrame({
    'City':['Dhaka','Chittagong','Sylhet'],
    'Temperature':[23,25,24],
    'Humidity':[85.5,82.5,83.5]
})
b=pd.DataFrame({
    'City':['New York','San Fransisco','Los Angels'],
    'Temperature':[15,10,5],
    'Humidity':[45.5,24.5,15.5]
})
a.set_index('City')
b.set_index('City')
d=pd.concat([a,b],axis=1,keys=['Bangladesh','New York'])
c=pd.DataFrame({
    'City':['Dhaka','Chittagong','Sylhet'],
    'Temperature':[23,25,24],
},index=[0,1,2])
e=pd.DataFrame({
    'City':['Dhaka','Sylhet','Chittagong'],
    'Humidity':[45.5,24.5,15.5]
},index=[0,2,1])
ce_concat=pd.concat([c,e],axis=1,keys=['temperature','humidity'])
ser=pd.Series(['humid','Dry','Rainy'],name='Event')
serr=pd.concat([c,ser],axis=1,ignore_index=False)
ce_merge=pd.merge(c,e,on='City')
ce_merge
stock1=pd.DataFrame({
    'Date':['1/1/2020','2/1/2020','3/1/2020'],
    'stock1':[85.5,82.5,83.5]
})
stock2=pd.DataFrame({
    'Date':['1/1/2020','2/1/2020','5/1/2020'],
    'stock2':[82.5,79.5,89.5]
})
#stock_concat=pd.concat([stock1,stock2],axis=1,ignore_index=True)
stock_concat=pd.concat([stock1,stock2],axis=0,keys=['stock1','stock2'],sort=True)
stock_concat
stock_merge=pd.merge(stock1,stock2,on='Date',how='outer')#indicator=True,suffixes='merge'
stock_merge.Date=pd.to_datetime(stock_merge.Date)
stock_merge.set_index('Date')
stock_merge.dropna(thresh=1)
stock_concat.columns.names=['Stock_names']
stock_concat.xs(key='stock1',axis=0)

In [ ]:
l=pd.Series(['Hot','Humid','Cool'],name='Events')
p=pd.concat([c,l],axis=1)
p.pivot(index='City',columns='Temperature',values='Events')

In [ ]:
p

In [1]:
#pivot table
data=pd.DataFrame({
    'Date':['5/1/20','6/1/20','7/1/20','8/1/20','10/1/20','5/1/20','6/1/20','7/1/20','8/1/20','9/1/20'],
    'City':['New York','New York','New York','New York','New York','Mumbai','Mumbai','Mumbai','Mumbai','Mumbai'],
    'Temperature':[23,24,26,25,23,22,21,25,27,21],
    'Humidity':[84.6,82.6,86.6,82.6,88.6,86.6,84.6,83.6,82.6,81.6]
})
data.Date=pd.to_datetime(data.Date)
data_pivot=data.pivot(index='Date',columns='City',values=['Temperature','Humidity'])
data_pivot

NameError: name 'pd' is not defined

In [ ]:
data1=pd.DataFrame({
    'Date':['5/1/20','5/1/20','6/1/20','10/1/20','5/1/20','5/1/20','6/1/20','6/1/20'],
    'City':['New York','New York','New York','New York','Mumbai','Mumbai','Mumbai','Mumbai'],
    'Temperature':[23,24,23,22,21,25,27,21],
    'Humidity':[84.6,82.6,88.6,86.6,84.6,83.6,82.6,81.6]
})
data1_pivottable=data1.pivot_table(index='Date',columns='City',values=['Temperature','Humidity'],aggfunc='mean',margins=True)
data1_pivottable

In [ ]:
data2=pd.DataFrame({
    'Date':['5/1/20','6/3/20','5/6/20','8/2/20','8/1/20'],
    'City':['New York','New York','New York','New York','New York'],
    'Temperature':[23,24,26,25,23],
    'Humidity':[84.6,82.6,86.6,82.6,88.6]
})
data2.Date=pd.to_datetime(data2.Date)
data2_pivottable=data2.pivot_table(index='Date',columns='City')
data2_pivottable=data2.pivot_table(index=pd.Grouper(freq='M',key='Date'),columns='City')
data2_pivottable

In [ ]:
#melt
dataformelt=pd.DataFrame({
    'day':['Sunday','Monday','Tuesday','Wednessday','Thrusday','Friday','Saturday'],
    'stock1':[23,25,24,26,24,21,54],
    'stock2':[22,21,26,23,27,21,56],
    'stock3':[20,21,29,28,31,34,23]
})
dataformelt_bymelt=pd.melt(dataformelt,id_vars='day',var_name='Stocks',value_name='Price')
dataformelt_bymelt

In [ ]:
dataformelt[['day','stock1']][dataformelt['stock1']==dataformelt['stock1'].max()]

In [ ]:
rl=pd.DataFrame({
    'name':['John','Joy','Samin','Kashpiya','Volgertz'],
    'age':[25,23,23,22,24],
    'nationality':['England','Bangladesh','India','Dubai','Russia'],
    'handedness':['Left','Right','Left','Right','Right']
})
g=rl.groupby('handedness')
#for group_name,group_object in g:
#    print(group_name)
#    print(group_object)                         
#    print('\n')
k=g.get_group('Right')
k.loc[:,['name','nationality']][k['age']==k['age'].max()]
pd.crosstab([rl.handedness,rl.nationality],rl.age,normalize='index')
pd.crosstab([rl.handedness,rl.nationality],rl.age,margins='all')

pd.crosstab(rl.nationality,rl.handedness,values=rl.age,aggfunc=np.average,margins='all')