In [1]:
import pandas as pd
import numpy as np
np.random.seed(101)
df=pd.DataFrame(np.random.randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])
#f=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [2]:
df.loc[:,['W','Z']]
df['new']=df['W']+df.loc[:,'Z']

In [3]:
df['new']

A    3.210676
B    1.257083
C   -2.607169
D    1.143752
E    0.874303
Name: new, dtype: float64

In [4]:
df[df['X']<0]['W']

B    0.651118
D    0.188695
Name: W, dtype: float64

In [5]:
def count_letters(word_list):
    """ See question description """
    
    ALPHABET = "abcdefghijklmnopqrstuvwxyz"

    letter_count = {}
    for letter in ALPHABET:
        letter_count[letter] = 0
    
    m=0
    for i in word_list:
        for j in i:
            letter_count[j]=letter_count[j]+1
        
    for k,v in letter_count.items():
        if v>m:
            m=v
            key=k
    return key

In [6]:
monty_quote = "listen strange women lying in ponds distributing swords is no basis for a system of government supreme executive power derives from a mandate from the masses not from some farcical aquatic ceremony"

monty_words = monty_quote.split(" ")
count_letters(monty_words)

'e'

In [4]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
print(hier_index)
hier_index=pd.MultiIndex.from_tuples(hier_index)
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [8]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df
#df.rename(columns={0:'A',1:'B'},inplace=True)

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [9]:
df.index.names=['Grp','Num']
df

                A         B
Grp Num
G1  1    0.302665  1.693723
    2   -1.706086 -1.159119
    3   -0.134841  0.390528
G2  1    0.166905  0.184502
    2    0.807706  0.072960
    3    0.638787  0.329646

In [10]:
df.xs(1,level=1)

            A         B
Grp
G1   0.302665  1.693723
G2   0.166905  0.184502